<section class="hero">
	<div class="container hero__container">
		<div class="hero__container-slide">
			<img
				loading="lazy"
				src="./img/logo.svg"
				class="image hero__logo"
				width="358"
				height="250"
				alt="Логотип компании"
			/>
			<button class="btn-reset hero__button-main">
				Подключить
				<img
					loading="lazy"
					src="./img/button-icon.svg"
					class="image hero__icon-button"
					width="120"
					height="120"
					alt="Иконка стрелки"
				/>
			</button>
			<img
				loading="lazy"
				src="./img/wave-icon.svg"
				class="image hero__icon-wave"
				width="338"
				height="250"
				alt="Логотип компании"
			/>
		</div>
		<div class="hero__container-static">
			<div class="hero__container-menu">
				<div class="hero__container-header">
					<h4 class="hero__title-menu">Инструкция</h4>
					<ol class="hero__list">
						<li>Нажми на кнопку «Подключить»</li>
						<li>Нажми на кнопку «Открыть тильду»</li>
						<li>Войди в свой аккаунт на тильде</li>
						<li>Зайдите в настройки нужного вам аккаунта в раздел Формы</li>
					</ol>
				</div>
				<div class="hero__container-footer">
					<div class="hero__social">
						<img
							loading="lazy"
							src="./img/logo-footer.svg"
							class="image hero__logo-footer"
							width="107"
							height="75"
							alt="Логотип компании"
						/>
						<a class="hero__link" href="tel:88002016216">8 800 2016 216</a>
						<a class="hero__link" href="mailto:info@opti.oo">info@opti.oo</a>
					</div>
					<img
						loading="lazy"
						src="./img/qr.svg"
						class="image hero__icon-qr"
						width="150"
						height="150"
						alt="QR-код"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
